<%= form_for(@device_type) do |f| %>
    <% if @device_type.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(@device_type.errors.count, "error") %> prohibited this device from being registered:</h4>

          <ul>
            <% @device_type.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <table>
      <tr>
        <td class="field" width="50%"><%= f.label :device_type_desc, "Device Type Description" %></td>
        <td class="field"><%= f.text_field :device_type_desc %></td>
      </tr>
      <tr>
        <td class="field"><%= f.label :device_type_key, "Device Type Key" %></td>
        <td class="field"><%= f.text_field :device_type_key %></td>
      </tr>
      <tr>
        <td class="field"><%= f.label :manufacturer %></td>
        <td class="field"><%= f.text_field :manufacturer %></td>
      </tr>
      <tr>
        <td class="field"><%= f.label :version %></td>
        <td class="field"><%= f.text_field :version %></td>
      </tr>
      <tr>
        <td class="field"><%= f.label :metadata_json %></td>
        <td class="field"><%= f.text_field :metadata_json %></td>
      </tr>
      <tr>
        <td class="field"><%= f.label :default_configuration %></td>
        <td class="field"><%= f.text_area   :default_config, :rows => '8',
                                            :value => "{ \"sensor_type_and_name\":[[\"Temperature\", \"temp\"],[\"Digital Temperature\", \"digital_temp\"],[\"Light\", \"light\"],[\"Pressure\", \"pressure\"],[\"Humidity\", \"humidity\"],[\"Motion\", \"motion\"],[\"Audio P2P\", \"audio_p2p\"],[\"Accelerometer x\", \"acc_x\"],[\"Accelerometer y\", \"acc_y\"],[\"Accelerometer z\", \"acc_x\"]]}" %></td>
            <!--
                sample json for Firefly config. value is [device_type, print_name]
                 {"sensor_type_and_name": [
                    ["Temperature","temp"],
                    ["Digital Temperature","digital_temp"],
                    ["Light","light"],
                    ["Pressure","pressure"],
                    ["Humidity","humidity"],
                    ["Motion","motion"],
                    ["Audio P2P","audio_p2p"],
                    ["Accelerometer x","acc_x"],
                    ["Accelerometer y","acc_y"],
                    ["Accelerometer z","acc_z"]]}
             -->
      </tr>
      <tr>
        <td style="text-align: right;" colspan="2">
            <div class="actions">
              <%= f.submit %>
            </div>
        </td>
      </tr>
    </table>
<% end %>