<%= form_for(@location) do |f| %>
    <table>
      <tr>
        <td class="field" width="50%"><%= f.label :print_name %></td>
        <td class="field"><%= f.text_field :print_name %></td>
      </tr>
      <tr>
        <td class="field" width="50%"><%= f.label :lat %></td>
        <td class="field"><%= f.text_field :lat %></td>
      </tr>
      <tr>
        <td class="field"><%= f.label :lon %></td>
        <td class="field"><%= f.text_field :lon %></td>
      </tr>
      <tr>
        <td class="field"><%= f.label :alt %></td>
        <td class="field"><%= f.text_field :alt %></td>
      </tr>
      <tr>
        <td class="field"><%= f.label :format %></td>
        <td class="field"><%= f.text_field :format %></td>
      </tr>
      <tr>
        <td style="text-align: right;" colspan="2">
            <div class="actions">
              <%= f.submit %>
            </div>
        </td>
      </tr>
    </table>
<% end %>
